html { 
    background: url("https://www.auckland.ac.nz/content/auckland/en/jcr:content/banner/imageMD.img.1280.high.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}