html { 
    background: url("https://image-proxy.namuwikiusercontent.com/r/http%3A%2F%2Fimages.wikia.com%2Fonepiece%2Fimages%2F2%2F2a%2FGomu_Gomu_no_Mi_in_Chest.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}